@use 'base/variables' as v;
@use 'base/mixins' as m;

.tiendas {

    display: flex;
    flex-direction: column;
    justify-content: center;

    &__texto,
    &__heading {
        text-align: center;
    }
    
    &__heading {
        color: v.$secundario;
        margin: 2rem 0 0 0;
    }

    &__grid {
        @include m.grid(2, 2rem)

    }
}